.id-btn{
  &.arrow{
    color: $id-black;
    font-weight: 700;
    display: flex;
    align-items: center;
    svg{
      margin-left: 15px;
      height: 20px;;
    }
    &:hover{
      color: $id-red;
      text-decoration: none;
    }

    &.white{
      color: $id-white;
      &:hover{
        color: $id-red;
        text-decoration: none;
      }
    }
  }

  &.form{
    width: 100%;
    border: none;
    background-color: transparent;
    color: $id-white;
    text-align: left;
    p{
      font-size: 45px; 
      padding: 0;
      margin: 3px 0 0;

      &:hover{
        color: $id-gray-lg;
      }
    }
  }
}