.id-about{
  &__banner{
    padding-top: 80px;
    &__img{
      img{
        width: 100%;
      }

    }
    &__text{
      display: flex;
      flex-direction: column;
      
      h2{
        width: 70%;
        line-height: 1.4;
        margin-bottom: 40px;
      }

      p{
        width: 70%;
      }

      img{
        margin: 50px 0 0 auto;
        width: 580px;
      }

      .id-btn{
        margin-top: 40px;
      }
    }
  }
}